* {
  box-sizing: border-box;
}

.background {
  background: #F8F8F8;
}

.wrapper {
  display: flex;
  border-radius: 10px;
  max-width: 40%;
  margin: auto;
  background: #fff;
  margin-top: 2px;
  flex-direction: column;
  padding: 20px;
}

.list {
  margin-bottom: 200px;
}

.listTitle {
  margin-bottom: 20px;  
}

.addRecipeWrapper {
  display: flex;
  border-radius: 10px;
  max-width: 80%;
  margin: auto;
  background: #fff;
  margin-top: 20px;
  flex-direction: column;
  padding: 40px;
}

.title {
  align-self: flex-start;
  font-size: 2rem;
  font-weight: 520;
  color: #333;
  margin-bottom: 20px;
}

.todoInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

input {
  width: 75%;
  font-size: 1rem;
  padding: 15px 0 15px 15px;
  border-radius: 4px;
  border: 1px solid rgb(238, 238, 238);
}

button {
  background: #62c7ff;
  border: none;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  padding: 15px 25px;
  border-radius: 4px;
  color: #fff;
}

ul {
  list-style: none;
  margin-bottom: 10px;
}

li {
  font-weight: 300;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin-bottom: 25px;
}

img {
  height: 25px;
}

button.action {
  color: #333;
  background: none;
  padding: 0;
}

button.action:focus {
  outline: none;
}
